click on view > command palette > select python interpreter > select base interpreter (this is from anaconda)

create a virtual environment : 
1. conda create -p venv python=3.10 -y
( -p refers to the current working directory and -y refers to the default options)
2. conda activate (path of virtual env)
3. conda deactivate to deactivate

create and install requirement file:
pip install -r requirements.txt

In [2]:
import pandas as pd

In [50]:
# load the dataset:
data=pd.read_csv("https://raw.githubusercontent.com/Ankit152/IMDB-sentiment-analysis/master/IMDB-Dataset.csv")

In [5]:
# read the first 5 rows of the dataset
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
# read the last 5 rows of the dataset
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [9]:
# nuber of rows and columns in the dataset
data.shape

(50000, 2)

In [11]:
# a random sample of 10 rows from the dataset
data.sample(10)

                                                  review sentiment
49545  For once a Barbie movie that is good. I'm 18 a...  positive
34493  The very first talking picture has returned fr...  positive
45524  Best Years of Our Lives perfectly captures the...  positive
15493  This movie was shot using a digital camera, an...  negative
43138  This movie was horrendous... It had absolutely...  negative
6007   There is an interesting discussion in this mov...  negative
18756  This very finely crafted film commits the unfo...  negative
38029  This Movie Was In My Opinion Very Ignorant! Th...  negative
29531  Ever wonder why Pacific Islanders seem to auto...  negative
15277  This was the one movie to see about the Civi W...  positive

In [13]:
# read the first review
data['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

1. tokenization
2. lowercase
3. uppercase
4. emojis
5. punctuation
6. html, url
7. stopwords
8. abbreviation or slang
9. stemming and lemmetization
10. spelling correction
11. whitespace

In [15]:
# lowercase
data['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [16]:
data['review'][3].upper()

"BASICALLY THERE'S A FAMILY WHERE A LITTLE BOY (JAKE) THINKS THERE'S A ZOMBIE IN HIS CLOSET & HIS PARENTS ARE FIGHTING ALL THE TIME.<BR /><BR />THIS MOVIE IS SLOWER THAN A SOAP OPERA... AND SUDDENLY, JAKE DECIDES TO BECOME RAMBO AND KILL THE ZOMBIE.<BR /><BR />OK, FIRST OF ALL WHEN YOU'RE GOING TO MAKE A FILM YOU MUST DECIDE IF ITS A THRILLER OR A DRAMA! AS A DRAMA THE MOVIE IS WATCHABLE. PARENTS ARE DIVORCING & ARGUING LIKE IN REAL LIFE. AND THEN WE HAVE JAKE WITH HIS CLOSET WHICH TOTALLY RUINS ALL THE FILM! I EXPECTED TO SEE A BOOGEYMAN SIMILAR MOVIE, AND INSTEAD I WATCHED A DRAMA WITH SOME MEANINGLESS THRILLER SPOTS.<BR /><BR />3 OUT OF 10 JUST FOR THE WELL PLAYING PARENTS & DESCENT DIALOGS. AS FOR THE SHOTS WITH JAKE: JUST IGNORE THEM."

In [21]:
# these days most llm models have very good reasoning so data cleaning is not always necessary
# but data preprocessing is very useful for the classical ml/nlp models


# convert all the reviews to lowercase
data['review'] = data['review'].str.lower()
data['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [22]:
type(data['review'])

pandas.core.series.Series

In [23]:
type(data['review'][0])

str

In [25]:
# 2. html, urls

text_with_html = """<!DOCTYPE html><html lang="en"><head><meta
charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta
name="viewport" content="width=device-width,
initial-scale=1.0"><title>Welcome to My
Website</title><style>body{font-family:'Arial',sans-serif;background-color
:#f0f0f0;color:#333;margin:20px}h1{color:#007bff}p{line-height:1.5}</style
></head><body><header><h1>Welcome to My Awesome
Website!</h1></header><main><p>This is a sample HTML document created for
demonstration purposes.</p><p>Feel free to explore and enjoy the content
on this website.</p></main><footer><p>&copy; 2024 My Website. All rights
reserved.</p></footer></body></html>"""

In [26]:
import re

In [32]:
def remove_html_tags(text):
    """
    Remove HTML tags from a string.
    """
    pattern = re.compile('<.*?>')
    return pattern.sub('', text)

# use beautiful soup
from bs4 import BeautifulSoup
def remove_html(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text()

In [33]:
text_without_html = remove_html(text_with_html)
text_without_html

'Welcome to My\nWebsiteWelcome to My Awesome\nWebsite!This is a sample HTML document created for\ndemonstration purposes.Feel free to explore and enjoy the content\non this website.Â© 2024 My Website. All rights\nreserved.'

In [34]:
data['review'] = data['review'].apply(remove_html_tags)
data.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [35]:
text2 = """Check out this link: https://www.example.com"""
def remove_url(text):
    pattern = re.compile(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+')
    return pattern.sub('', text)

result = remove_url(text2)
result

'Check out this link: '

In [36]:
# handling punctuations
import string

In [37]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [40]:
exclude = set(string.punctuation)

In [46]:
def remove_punctuation(text):
    for char in exclude:
        text = text.replace(char, '')
    return text
textdata = "Hello, world! This is a test."
textdata = remove_punctuation(textdata)
textdata

'Hello world This is a test'

In [51]:
def remove_all_punctuation(text):
    return ''.join(ch for ch in text if ch not in exclude)
data['review'] = data['review'].apply(remove_all_punctuation)
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production br br The filmin...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically theres a family where a little boy J...  negative
4  Petter Matteis Love in the Time of Money is a ...  positive

In [53]:
# abbreviations
abbreviations = {
    "u": "you",
    "r": "are",
    "omg": "oh my god",
    "btw": "by the way",
    "idk": "I don't know",
    "imo": "in my opinion",
    "smh": "shaking my head",
    "tbh": "to be honest"
}

text_with_abbreviations = "u r so cool! idk what to say. smh"
def expand_abbreviations(text):
    words = text.split()
    for i, word in enumerate(words):
        if(word in abbreviations):
            words[i] = abbreviations[word]
    return ' '.join(words)
text_without_abbreviations = expand_abbreviations(text_with_abbreviations)
text_without_abbreviations

"you are so cool! I don't know what to say. shaking my head"

In [54]:
# text preprocessing libraries
# NLTK, TextBlob, Spacy

text = "This is a saple text for preprcessing. It contains punctution, HTML tags, and URLs."

In [56]:
from textblob import TextBlob

textblob = TextBlob(text)

In [59]:
textblob.correct().string
# this isnt very accurate sometimes

'His is a sale text for repressing. It contains punctuation, HTML tags, and URLs.'

In [77]:
import nltk
from nltk.corpus import stopwords

In [78]:
# dealing with stop words
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ananyapappula/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [82]:
stopwords.words('english')

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [80]:
# stop words are words that do not add much meaning to a sentence

def remove_stopwords(text):
    newtext = []
    for word in text.split():
        if word in stopwords.words('english'):
            continue
        else:
            newtext.append(word.strip())
    return ' '.join(newtext)
text_with_stopwords = "This is a sample text with some stop words."
text_without_stopwords = remove_stopwords(text_with_stopwords)
text_without_stopwords

'This sample text stop words.'

In [81]:
import emoji
text_with_emojis = "I love Python! ðŸ˜Š"
demojized_text = emoji.demojize(text_with_emojis)
demojized_text

'I love Python! :smiling_face_with_smiling_eyes:'